<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-4 flex gap-4 flex-col">
  <h3>Terms and Conditions</h3>

  <span>
    Welcome to my blog!
    <br />
    These Terms and Conditions ("Terms") govern your access to and use of Alvin
    Ang's Blog website (the "Website").
    <br /><br />
    By accessing or using the Website, you agree to be bound by these Terms. If
    you disagree with any part of the Terms, then you may not access or use the
    Website.
    <br /><br />
    <strong>Effective Date:</strong> These Terms are effective as of April 2024.
    <br /><br />
    <strong>1. Agreement to Terms</strong>
    <br />
    These Terms constitute a legally binding agreement between you ("you" or
    "User") and Alvin Ang's Blog ("we," "us," or "our"), the owner and operator
    of the Website.
    <br /><br />
    <strong>2. Website Content Ownership</strong>
    <br />
    The content of the Website, including text, graphics, images, logos, and
    other materials ("Content") is owned by us or our licensors. The Content is
    protected by copyright and other intellectual property laws.
    <br /><br />
    <strong>3. User Conduct</strong>
    <br />
    You agree to use the Website in a lawful and respectful manner. You agree
    not to:
    <ul class="list-disc p-4">
      <li>
        Post any content that is illegal, harmful, threatening, abusive,
        harassing, defamatory, obscene, hateful, or racially or ethnically
        offensive.
      </li>
      <li>
        Interfere with or disrupt the Website or servers or networks connected
        to the Website.
      </li>
      <li>
        Use the Website to transmit spam or other unsolicited communications.
      </li>
      <li>Violate any applicable laws or regulations.</li>
    </ul>
    <br /><br />
    <strong>4. Intellectual Property</strong>
    <br />
    We grant you a non-exclusive, non-transferable license to access and use the
    Website for your personal, non-commercial use only. You may not modify,
    copy, distribute, transmit, display, perform, reproduce, publish, license,
    create derivative works from, or otherwise exploit any Content without our
    prior written consent.
    <br /><br />
    <strong>5. Third-Party Links and Content</strong>
    <br />
    The Website may contain links to third-party websites or resources. These
    links are provided for your information only and do not constitute an
    endorsement by us of those websites or resources. We do not control the
    content of these websites or resources and are not responsible for any
    damages or losses arising from your access to or use of them.
    <br /><br />
    <strong>6. Limitation of Liability </strong>
    <br />
    We are not liable for any damages arising out of your use of the Website,
    including but not limited to, direct, indirect, incidental, consequential,
    or punitive damages.
    <br /><br />
    <strong>7. Termination</strong>
    <br />
    We may terminate your access to the Website at any time, without notice, for
    any reason, including, without limitation, if you violate these Terms.
    <br /><br />
    <strong>8. Governing Law</strong>
    <br />
    These Terms shall be governed by and construed in accordance with the laws
    of Singapore, without regard to its conflict of law provisions.
    <br /><br />
    <strong>9. Updates to Terms</strong>
    <br />
    We may update these Terms at any time by posting the revised terms on the
    Website. You are expected to check this page regularly so you are aware of
    any changes, as they are binding on you.
    <br /><br />
    <strong> 10. Contact Us </strong>
    <br />
    If you have any questions about these Terms, please contact us at
    <a class="text-blue-500 underline" href="mailto:work.alvinang@gmail.com"
      >work.alvinang&#64;gmail.com</a
    >.
  </span>
</div>
