<div class="p-10 bg-white border shadow-lg rounded-3xl group cursor-pointer">
  <div>
    <div>
      <div class="flex-shrink-0 block">
        <div class="flex items-center">
          <div>
            <img
              alt="#_"
              class="inline-block object-cover rounded-full size-9"
              src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=989&amp;q=80"
            />
          </div>
          <div class="ml-3">
            <p class="text-sm text-black group-hover:text-blue-500">
              Ulaffson
              <span class="text-gray-500"> in </span>
              Investiments ·
              <span class="text-gray-500"> 4 days ago </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <h3
      class="mt-8 text-lg font-medium leading-6 text-black group-hover:text-blue-500"
    >
      Metamask - Is It Really A Wallet?
    </h3>
  </div>
  <p class="mt-4 text-base font-medium text-gray-500 text-balance line-clamp-3">
    Each of us lives our own life. Everyday routines, people we meet, things we
    experience, the music we listen to, the food we eat, the culture that
    surrounds us, or even the way our apartment is set up. Every little detail
    impacts our lives in some way.
  </p>
  <div class="inline-flex items-center justify-between w-full mt-4">
    <div>
      <p class="text-sm text-black group-hover:text-blue-500">
        Investiments
        <span class="text-gray-500"> · </span>
        10 min read
      </p>
    </div>
    <div>
      <span>
        <ng-icon
          name="ion-bookmark-outline"
          class="w-5 text-blue-500 group-hover:text-black md hydrated"
          role="img"
          aria-label="bookmark outline"
        ></ng-icon>
      </span>
    </div>
  </div>
</div>
