<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-4 flex gap-4 flex-col">
  <h3>Privacy Policy</h3>

  <span>
    <strong>Effective Date:</strong> 02 April 2024 <br /><br />
    <strong>Introduction</strong>
    <br />
    Alvin Ang's Blog ("we," "us," or "our") respects the privacy of our visitors
    ("you" or "user"). This Privacy Policy outlines how we collect, use, and
    disclose information from users of the Website.
    <br /><br />
    <strong>Information We Collect</strong>
    <br />
    We may collect two types of information from users:
    <ul class="list-disc p-4">
      <li>
        <strong>Personal Information:</strong> This includes information that
        can be used to identify you, such as your name, email address, and
        comments you leave on the blog (if enabled). We only collect this
        information if you voluntarily provide it to us, such as by leaving a
        comment or subscribing to our email list.
      </li>
      <li>
        <strong>Non-Personal Information:</strong>This includes information that
        cannot be used to identify you, such as your browser type, operating
        system, IP address, and the pages you visit on our Website. This
        information is collected automatically through cookies and other
        tracking technologies.
      </li>
    </ul>
    <br /><br />
    <strong>Use of Information</strong>
    <br />
    We may use the information we collect for the following purposes:
    <ul class="list-disc p-4">
      <li>
        <strong>To personalize your experience:</strong> We may use non-personal
        information to personalize your experience on the Website, such as by
        remembering your preferences.
      </li>
      <li>
        <strong>To improve our Website:</strong> We may use both personal and
        non-personal information to improve our Website and content.
      </li>
      <li>
        <strong>To respond to your inquiries:</strong> We may use your personal
        information to respond to your inquiries and requests.
      </li>
      <li>
        <strong>To send you newsletters and other communications:</strong> We
        may use your email address to send you newsletters, promotional
        materials, and other communications (if you subscribe). You can
        unsubscribe from these communications at any time.
      </li>
    </ul>
    <br /><br />
    <strong>Disclosure of Information</strong>
    <br />
    We will not share your personal information with third parties without your
    consent, except in the following cases:
    <ul class="list-disc p-4">
      <li>
        <strong>To comply with legal requirements: </strong> We may disclose
        your information if we are required to do so by law or in the good faith
        belief that such action is necessary to comply with legal processes
        served on us or to protect the rights or safety of ourselves or others.
      </li>
      <li>
        <strong>To service providers:</strong>We may share your information with
        third-party service providers who help us operate the Website and
        deliver our services. These service providers are obligated to keep your
        information confidential.
      </li>
    </ul>
    <br /><br />
    <strong>Data Security</strong>
    <br />
    We take reasonable steps to protect your information from unauthorized
    access, disclosure, alteration, or destruction. However, no website or
    internet transmission is completely secure. Therefore, we cannot guarantee
    the security of your information.
    <br /><br />
    <strong>Your Rights</strong>
    <br />
    You have the following rights regarding your personal information:
    <ul class="list-disc p-4">
      <li>
        <strong>Access:</strong> You have the right to access your personal
        information that we collect.
      </li>
      <li>
        <strong>Correction:</strong> You have the right to request that we
        correct any inaccurate personal information about you.
      </li>
      <li>
        <strong>Deletion:</strong> You have the right to request that we delete
        your personal information.
      </li>
      <li>
        <strong>Objection:</strong> You have the right to object to the
        processing of your personal information.
      </li>
    </ul>
    <br /><br />
    <strong>Children's Privacy</strong>
    <br />
    Our Website is not directed to children under the age of 13. We do not
    knowingly collect personal information from children under 13. If you are a
    parent or guardian and you believe that your child has provided us with
    personal information, please contact us. If we learn that we have collected
    personal information from a child under 13, we will delete that information
    from our records.
    <br /><br />
    <strong>Changes to Privacy Policy</strong>
    <br />
    We may update this Privacy Policy at any time by posting the revised terms
    on the Website. You are expected to check this page regularly so you are
    aware of any changes, as they are binding on you.
    <br /><br />
    <strong>Contact Us </strong>
    <br />
    If you have any questions about this Privacy Policy, please contact us at
    <a class="text-blue-500 underline" href="mailto:work.alvinang@gmail.com"
      >work.alvinang&#64;gmail.com</a
    >.
  </span>
</div>
