<nav class="glass sm:mt-20 sm:mx-20 mx-4 mt-4">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      @if (showMobileSearchBar) {
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-900 hover:bg-blue-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
          (click)="toggleMenu()"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          @if (showMenu) {
          <ng-icon name="ionClose" size="25"></ng-icon>
          } @else {
          <ng-icon name="ionMenu" size="25"></ng-icon>
          }
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <img
            class="h-8 w-auto rounded-full"
            src="../../../../assets/logo/v2.png"
            alt="Alvin Ang"
          />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              routerLink="/"
              routerLinkActive="glass text-black font-semibold"
              [routerLinkActiveOptions]="{ exact: true }"
              class="text-gray-900 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page"
              >Home</a
            >
            <a
              routerLink="/blog"
              routerLinkActive="glass text-black font-semibold"
              class="text-gray-900 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Blog</a
            >
            <a
              routerLink="/about"
              routerLinkActive="glass text-black font-semibold"
              class="text-gray-900 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >About</a
            >
            <a
              routerLink="/subscribe"
              routerLinkActive="glass text-black font-semibold"
              class="text-gray-900 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Subscribe</a
            >
          </div>
        </div>
      </div>
      }
      <!--search bar -->
      <div class="hidden mx-10 md:block lg:ml-auto">
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <ng-icon
              name="ionSearchOutline"
              size="20"
              class="text-gray-400"
            ></ng-icon>
          </span>

          <input
            type="text"
            class="w-full py-2 pl-10 pr-4 text-black bg-white border border-gray-200 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-500 sm:text-sm rounded-xl placeholder:text-gray-400 focus:border-blue-500"
            placeholder="Search"
          />
        </div>
      </div>
      <div
        class="md:hidden relative flex rounded-[50px] h-9 w-9 p-1 focus-within:shadow-lg focus-within:w-full transition-[width] overflow-hidden"
        (focusin)="showMobileSearch($event)"
        (focusout)="hideMobileSearch($event)"
      >
        <input
          type="text"
          class="z-10 py-1 absolute top-0 bottom-0 left-0 leading-tight flex-grow text-lg border-[0] px-2 focus:outline-none focus:ring-0 bg-transparent opacity-0 focus-within:opacity-100 cursor-pointer focus-within:cursor-default"
          placeholder="Search"
        />
        <button
          class="text-xl cursor-pointer border-[0] bg-transparent rounded-full ml-auto focus-within:bg-blue-500 focus-within:text-white w-[30px] focus:shadow-md"
        >
          <ng-icon name="ionSearchOutline" size="25"></ng-icon>
        </button>
      </div>
    </div>
  </div>

  @if (showMenu) {
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        routerLink="/"
        routerLinkActive="glass text-black font-semibold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-gray-900 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-base block font-medium"
        aria-current="page"
        >Home</a
      >
      <a
        routerLink="/blog"
        routerLinkActive="glass text-black font-semibold"
        class="text-gray-900 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-base block font-medium"
        >Blog</a
      >
      <a
        routerLink="/about"
        routerLinkActive="glass text-black font-semibold"
        class="text-gray-900 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-base block font-medium"
        >About</a
      >
      <a
        routerLink="/subscribe"
        routerLinkActive="glass text-black font-semibold"
        class="text-gray-900 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-base block font-medium"
        >Subscribe</a
      >
    </div>
  </div>
  }
</nav>
