<div>
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <h1
      class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
    >
      About
    </h1>
  </div>
  <div
    class="items-start space-y-2 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:space-y-0"
  >
    <div class="flex flex-col items-center space-x-2 pt-8">
      <div class="flex flex-row image-blob">
        <img src="assets/2023-09profile.png" alt="avatar" />
      </div>
      <h3 class="pb-2 pt-4 text-2xl font-bold leading-8 tracking-tight">
        Alvin Ang Zee Qin
      </h3>
      <div class="text-gray-500 dark:text-gray-400">
        ASP .NET Developer | Angular
      </div>
      <div class="text-gray-500 dark:text-gray-400">
        Times Software Pte Ltd, Singapore
      </div>
      <div class="flex space-x-3 pt-6">
        <a href="mailto:alvinang1406@gmail.com" target="_blank"
          ><ng-icon
            size="2em"
            name="ionMail"
            class="w-5 text-black hover:text-blue-500 md hydrated"
            role="img"
            aria-label="mail"
          ></ng-icon
        ></a>
        <a href="https://github.com/zqang" target="_blank"
          ><ng-icon
            size="2em"
            name="ionLogoGithub"
            class="w-5 text-black hover:text-blue-500 md hydrated"
            role="img"
            aria-label="github-logo"
          ></ng-icon
        ></a>
        <a
          href="https://www.linkedin.com/in/alvin-ang-zee-qin-5886a4117/"
          target="_blank"
          ><ng-icon
            size="2em"
            name="ionLogoLinkedin"
            class="w-5 text-black hover:text-blue-500 md hydrated"
            role="img"
            aria-label="linkedin-logo"
          ></ng-icon
        ></a>
        <a href="https://wa.me/601162548957" target="_blank"
          ><ng-icon
            size="2em"
            name="ionLogoWhatsapp"
            class="w-5 text-black hover:text-blue-500 md hydrated"
            role="img"
            aria-label="whatsapp-logo"
          ></ng-icon
        ></a>
      </div>
    </div>
    <div
      class="prose max-w-none pb-8 pt-8 dark:prose-invert xl:col-span-2 px-4"
    >
      Welcome to Alvin's Corner!<br /><br />
      I'm Alvin Ang Zee Qin, a passionate software engineer with expertise in
      .NET and Angular. Here, I share my insights, experiences, and discoveries
      in the ever-evolving world of software development.<br />
      <br />
      With a focus on .NET and Angular technologies, I delve into the
      intricacies of coding, problem-solving, and innovation. Whether you're a
      fellow developer, a tech enthusiast, or someone simply curious about the
      digital landscape, you'll find valuable resources, tutorials, and musings
      to fuel your journey. <br />
      <br />
      Here, we dive into the captivating realms of software development. From
      the origins of computing to the evolution of programming, and beyond, we
      explore, analyze, and discuss the fascinating nuances of software
      development. <br /><br />
      Get ready to embark on a journey where words ignite imagination, curiosity
      sparks exploration, and every page holds the promise of new insights.
      <br /><br />
      Let's explore together!
    </div>
  </div>
</div>
