<footer class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 pb-8 pt-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <ul class="flex flex-wrap justify-center gap-4 text-xs lg:justify-end">
        <li>
          <a
            routerLink="terms"
            class="text-gray-500 transition hover:opacity-75"
          >
            Terms & Conditions
          </a>
        </li>

        <li>
          <a
            routerLink="privacy"
            class="text-gray-500 transition hover:opacity-75"
          >
            Privacy Policy
          </a>
        </li>
      </ul>

      <ul class="mt-8 flex justify-center gap-6 sm:mt-0 lg:justify-end">
        <li>
          <a
            href="https://www.facebook.com/zq.ang.9"
            rel="noreferrer"
            target="_blank"
            class="text-gray-700 transition hover:opacity-75 hydrated"
          >
            <span class="sr-only">Facebook</span>
            <ng-icon
              size="1.5rem"
              name="ionLogoFacebook"
              role="img"
              aria-label="facebook-logo"
            ></ng-icon>
          </a>
        </li>

        <li>
          <a
            href="https://www.instagram.com/alv_azq"
            rel="noreferrer"
            target="_blank"
            class="text-gray-700 transition hover:opacity-75 hydrated"
          >
            <span class="sr-only">Instagram</span>
            <ng-icon
              size="1.5rem"
              name="ionLogoInstagram"
              role="img"
              aria-label="instagram-logo"
            ></ng-icon>
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/alvin-ang-zee-qin-5886a4117/"
            target="_blank"
            rel="noreferrer"
            class="text-gray-700 transition hover:opacity-75 hydrated"
            ><span class="sr-only">LinkedIn</span>
            <ng-icon
              size="1.5rem"
              name="ionLogoLinkedin"
              role="img"
              aria-label="linkedin-logo"
            ></ng-icon
          ></a>
        </li>

        <li>
          <a href="https://github.com/zqang" target="_blank" rel="noreferrer"
            ><span class="sr-only">Github</span>
            <ng-icon
              size="1.5rem"
              name="ionLogoGithub"
              class="text-gray-700 transition hover:opacity-75 hydrated"
              role="img"
              aria-label="github-logo"
            ></ng-icon
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
