<div>
  <!-- to make a card slider -->
  <div class="max-w-sm mx-auto relative">
    <input id="article-01" type="radio" name="slider" class="sr-only peer/01" />
    <input id="article-02" type="radio" name="slider" class="sr-only peer/02" />
    <input
      id="article-03"
      type="radio"
      name="slider"
      class="sr-only peer/03"
      checked
    />
    <input id="article-04" type="radio" name="slider" class="sr-only peer/04" />
    <input id="article-05" type="radio" name="slider" class="sr-only peer/05" />

    <div
      class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/01:[&_article]:ring peer-focus-visible/01:[&_article]:ring-indigo-300 peer-checked/01:relative peer-checked/01:z-50 peer-checked/01:translate-y-0 peer-checked/01:scale-100 peer-checked/01:[&>label]:pointer-events-none peer-checked/02:-translate-y-10 peer-checked/02:scale-[83.75%] peer-checked/02:z-40 peer-checked/03:-translate-y-20 peer-checked/03:z-30 peer-checked/04:-translate-y-20 peer-checked/04:opacity-0 peer-checked/05:-translate-y-20"
    >
      <label class="absolute inset-0" for="article-01"
        ><span class="sr-only">Focus on the big picture</span></label
      >
      <app-post-card></app-post-card>
    </div>

    <div
      class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/02:[&_article]:ring peer-focus-visible/02:[&_article]:ring-indigo-300 peer-checked/01:translate-y-10 peer-checked/01:scale-[83.75%] peer-checked/01:z-40 peer-checked/02:relative peer-checked/02:z-50 peer-checked/02:translate-y-0 peer-checked/02:scale-100 peer-checked/02:[&>label]:pointer-events-none peer-checked/03:-translate-y-10 peer-checked/03:scale-[83.75%] peer-checked/03:z-40 peer-checked/04:-translate-y-20 peer-checked/04:z-30 peer-checked/05:-translate-y-20 peer-checked/05:opacity-0"
    >
      <label class="absolute inset-0" for="article-02"
        ><span class="sr-only">Focus on the big picture</span></label
      >
      <app-post-card></app-post-card>
    </div>

    <div
      class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/03:[&_article]:ring peer-focus-visible/03:[&_article]:ring-indigo-300 peer-checked/01:translate-y-20 peer-checked/01:z-30 peer-checked/02:translate-y-10 peer-checked/02:scale-[83.75%] peer-checked/02:z-40 peer-checked/03:relative peer-checked/03:z-50 peer-checked/03:translate-y-0 peer-checked/03:scale-100 peer-checked/03:[&>label]:pointer-events-none peer-checked/04:-translate-y-10 peer-checked/04:scale-[83.75%] peer-checked/04:z-40 peer-checked/05:-translate-y-20 peer-checked/05:z-30"
    >
      <label class="absolute inset-0" for="article-03"
        ><span class="sr-only">Focus on the big picture</span></label
      >
      <app-post-card></app-post-card>
    </div>

    <div
      class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/04:[&_article]:ring peer-focus-visible/04:[&_article]:ring-indigo-300 peer-checked/01:translate-y-20 peer-checked/01:opacity-0 peer-checked/02:translate-y-20 peer-checked/02:z-30 peer-checked/03:translate-y-10 peer-checked/03:scale-[83.75%] peer-checked/03:z-40 peer-checked/04:relative peer-checked/04:z-50 peer-checked/04:translate-y-0 peer-checked/04:scale-100 peer-checked/04:[&>label]:pointer-events-none peer-checked/05:-translate-y-10 peer-checked/05:scale-[83.75%] peer-checked/05:z-40"
    >
      <label class="absolute inset-0" for="article-04"
        ><span class="sr-only">Focus on the big picture</span></label
      >
      <app-post-card></app-post-card>
    </div>

    <div
      class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/05:[&_article]:ring peer-focus-visible/05:[&_article]:ring-indigo-300 peer-checked/01:translate-y-20 peer-checked/02:translate-y-20 peer-checked/02:opacity-0 peer-checked/03:translate-y-20 peer-checked/03:z-30 peer-checked/04:translate-y-10 peer-checked/04:scale-[83.75%] peer-checked/04:z-40 peer-checked/05:relative peer-checked/05:z-50 peer-checked/05:translate-y-0 peer-checked/05:scale-100 peer-checked/05:[&>label]:pointer-events-none"
    >
      <label class="absolute inset-0" for="article-05"
        ><span class="sr-only">Focus on the big picture</span></label
      >
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
