/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background: #f6f6f6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

@layer components {
  .glass {
    @apply bg-gray-300 rounded-lg px-8 shadow-lg backdrop-blur-md backdrop-filter bg-opacity-20;
  }
}
