<div class="inline-flex items-center justify-between w-full mt-4">
  <div>
    <div class="flex-shrink-0 block">
      <div class="flex items-center">
        <div>
          <img
            alt="#_"
            class="inline-block object-cover rounded-full size-9"
            src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=989&amp;q=80"
          />
        </div>
        <div class="ml-3">
          <p class="text-sm text-black group-hover:text-blue-500">Ulaffson</p>
        </div>
      </div>
    </div>
  </div>
</div>
